<!-- Inheriting from main.html in the main project folder-->
{% extends 'main.html'%}
{% load static %}

{% block content %} 
<h1>Stocks</h1>

<div class="container">
  <div class="row">

    <div class="col-md-2">
      <table>
        <tr>
          <th>Symbol</th>
          <th>Date</th>
          <th>Price</th>
        </tr>
        {% for stock in stocks %}
          <tr>
            <td>{{ stock.symbol }}</td>
            <td>{{ stock.date|date:"Y-m-d"  }}</td>
            <td>{{ stock.price }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    
    <div class="col-md-10">
      <div class="container">
        <div class="row">

          <div class="col-sm-6">
            <img src="{% static 'stock/AAPL_plot.png' %}" alt="AAPL stock plot" width="500px">
            <img src="{% static 'stock/SPY_plot.png' %}" alt="AMZN stock plot" width="500px">
          </div>

          <div class="col-sm-6">
            <img src="{% static 'stock/GOOG_plot.png' %}" alt="GOOG stock plot" width="500px">
            <img src="{% static 'stock/MSFT_plot.png' %}" alt="MSFT stock plot" width="500px">
          </div>
          
        </div>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="container">
  <a href="{% url 'stock:info' %}">Info Page</a>
</div>

<hr>


{% endblock %}