<!-- Inheriting from main.html in the main project folder-->
{% extends 'main.html'%}
{% load static %}

{% block content %} 
<div class="container text-center">

    <h1>Stocks Info Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quam nisi, facilisis et est at, tristique feugiat nisl. Proin vestibulum rhoncus diam, a auctor nunc dapibus ac. Fusce varius, ipsum vitae laoreet aliquet, enim metus convallis libero, id tempor ipsum ante id sapien. In condimentum, quam eu congue semper, velit velit tincidunt risus, vel interdum lectus nulla quis risus. Vivamus finibus consectetur lacus, id mollis orci eleifend at. Sed eget mi at magna egestas placerat auctor vitae tellus. Quisque congue ex id odio iaculis, a laoreet erat pellentesque. Nullam bibendum sapien vel tellus bibendum commodo. Integer ullamcorper, nibh vel rutrum placerat, ipsum nisi facilisis lectus, vel pharetra elit lectus et tellus. Nunc eget hendrerit quam, vel tincidunt diam.</p>

</div>

<hr>

{% endblock %}