<!-- Inheriting from main.html in the main project folder-->
{% extends 'main.html'%}
{% load static %}

{% block content %}

<h1 class="text-center">Tasks</h1>
<div class="container text-center">
  <ul style="list-style-type: none;">
  {% for task in tasks %}
    <li>{{ task.date }} - {{ task.title }} | <a href="{% url 'todo:delete_task' task.id %}">Delete Task</a></li> 
  {% endfor %}
  </ul>
  <a href="{% url 'todo:create_task' %}">Create Task</a>

  <br>
  
  <form method="post" action="{% url 'todo:delete_all' %}">
    {% csrf_token %}
    <button type="submit">Delete All</button>
  </form>
</div>


<hr>

{% endblock %}