<!-- Inheriting from main.html in the main project folder-->
{% extends 'main.html'%} {% load static %} {% block content %}

<!--- Adding Publication Model -->

<div class="container">
  <div class="container">
    <h1 class="text-center">About the Website</h1>
  </div>
  <div class="container">
    <p>
      This is a simple website that highlights all the project and work that I
      have done. The reason is due to low pythonanywhere storage space...
    </p>
  </div>
</div>

<hr />

{% endblock %}
