<!-- Inheriting from main.html in the main project folder-->
{% extends 'main.html'%} {% load static %} {% block content %}

<!--- Adding Publication Model -->

<div class="container" style="width: 50%">
  <h3 class="text-center">About me</h3>
  <p style="text-indent: 2em; text-align: justify">
    I am a recent graduate of Cooper Union, where I obtained a Bachelor of
    Engineering degree. I am currently working at Intel as a Process Engineer,
    where I am responsible for developing and improving manufacturing processes
    to enhance the efficiency and quality of Intel's products. While I am
    passionate about engineering, I am also deeply interested in data science
    and development. I have always been fascinated by the power of data and its
    ability to reveal insights and inform decisions.
  </p>
  <p style="text-indent: 2em; text-align: justify">
    In today's world, data is a critical resource that can drive innovation,
    improve operations, and create new opportunities. My experience at Intel has
    given me a strong foundation in engineering, which I believe will be
    invaluable in my pursuit of a career in data science or development. As an
    engineer, I have honed my skills in problem-solving, critical thinking, and
    data analysis, all of which are essential skills for a successful data
    scientist or developer.
  </p>
  <p style="text-indent: 2em; text-align: justify">
    In my spare time, I enjoy exploring new technologies and learning new
    skills. I have taught myself programming languages such as Python,
    Javascript, and C++, and have completed several online courses in data
    science and machine learning. I am always looking for new challenges and
    opportunities to grow my skills and knowledge. As I look to the future, I am
    excited about the possibilities that lie ahead. Whether it's developing
    cutting-edge technologies or unlocking insights from data, I am eager to
    contribute my skills and expertise to make a meaningful impact. Thank you
    for taking the time to learn more about me, and I look forward to connecting
    with you!
  </p>
</div>

<hr />

<div class="container">
  <div class="row">
    <h1 class="text-center" style="padding: 20px">About the Website</h1>
    <br />
    <div class="col-6">
      <img
        src="{% static 'base/Framework.PNG' %}"
        style="height: auto; width: 100%; object-fit: contain"
      />
    </div>
    <div class="col-6">
      <p style="text-indent: 2em; text-align: justify">
        During my spare time, I channeled my passion for web development by
        building this personal website using a combination of frontend and
        backend technologies. To enhance the website's appearance, I utilized
        Bootstrap, HTML, and CSS to create an interactive and visually appealing
        frontend. In addition, I incorporated a backend framework, Django, to
        ensure the website was efficient and user-friendly. To store and manage
        data, I used SQLite, a robust database management system. Throughout the
        development process, I encountered challenges, but I used my
        problem-solving skills to overcome them and improve the functionality
        and appearance of the website. I am proud of this achievement and am
        excited to continue enhancing my skills in web development.
      </p>
    </div>
  </div>

  <hr />
</div>

{% endblock %}
