<!-- Inheriting from main.html in the main project folder-->
{% extends 'main.html'%} {% load static %} {% block content %}

<br />

<div class="container">
  <div class="row">
    <h1 class="text-center" style="padding: 20px">
      Welcome to my Personal Website
    </h1>
    <br />
    <div class="col-6">
      <img
        src="{% static 'base/DiscordIcon.png' %}"
        style="height: auto; width: 80%; object-fit: contain"
      />
    </div>
    <div class="col-6" style="padding: 30px">
      <h3>Hello!</h3>
      <p>I'm Christopher Chan</p>
      <p>Process Engineer at Intel</p>
      <p>Currently looking for an data science or developer opportunity</p>
      <button>
        <a href="{% url 'base:about' %}"
          >About me <i class="fas fa-user"></i
        ></a>
      </button>
      <button>
        <a href="{% url 'base:contact' %}">Contact Me</a>
      </button>
    </div>
  </div>
</div>

<hr />

<!--- Adding Project Model -->
<br />
<div class="container">
  <h2 class="text-center fs-1" style="padding: 20px">Projects</h2>
  <div class="row">
    {% for project in projects %} {% if forloop.counter0|divisibleby:3 %}
  </div>
  <div class="row">
    {% endif %}
    <div class="col-4">
      <h3 class="text-center" style="height: 80px">
        <a href="{{project.url}}" style="text-decoration: none; color: black"
          >{{project.title}}</a
        >
      </h3>
      <a href="{{project.url}}" style="height: 350px">
        <img
          src="{{project.image.url}}"
          style="height: 300px; width: 100%; object-fit: contain"
        />
      </a>

      <p
        style="text-align: justify; min-height: 160px; text-indent: 1em"
        title="{{project.description}}"
      >
        {{project.description|truncatechars:250}}
      </p>
    </div>
    {% endfor %}
  </div>
</div>

<hr />

<div class="container text-center">
  <h2>Skills</h2>
  {% for skill in skills %}
  <span>{{skill.title}}{% if not forloop.last %},{% endif %}</span>
  {% endfor %}
</div>

<hr />

{% endblock %}
