{% extends 'main.html'%} {% load static %} {% block content %}
<div class="container text-center">
  <h2>Youtube Video Downloader App</h2>
</div>

<hr />
<div class="container text-center justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-7 d-flex align-items-center justify-content-center">
        <img src="{% static 'base/utubeMain.PNG' %}" style="width: 100%" />
      </div>
      <div class="col-5">
        <p style="text-align: justify; text-indent: 1em">
          Our PyTube YouTube downloader is a reliable tool for downloading
          YouTube videos for offline use. Using PyTube, our program ensures fast
          and efficient downloads every time. Simply copy and paste the YouTube
          video link into our program, and it will handle the rest. We
          understand that internet connectivity can be a challenge at times, and
          downloading videos for offline use can be a practical solution. That's
          why our PyTube YouTube downloader is designed to help you access your
          favorite videos whenever you need them, regardless of your internet
          connectivity.
        </p>
      </div>
    </div>
  </div>

  <hr />

  <div class="container">
    <div class="row">
      <div
        class="col-5 d-flex flex-column align-items-center justify-content-center"
      >
        <h3 style="width: 85%">
          Want to view the video before downloading it?
        </h3>
        <p style="text-align: justify; text-indent: 1em; width: 85%">
          After entering your desired YouTube video link into our PyTube
          downloader, the program will begin the download process. Once the
          download is complete, you can easily view the video using any video
          player installed on your device. Additionally, our website allows you
          to preview the video before downloading, ensuring that you're
          downloading the video you want.
        </p>
      </div>
      <div class="col-7 d-flex align-items-center justify-content-center">
        <img
          src="{% static 'base/utubeVideoPlayer.PNG' %}"
          style="width: 100%"
        />
      </div>
    </div>
  </div>
</div>
{% endblock %}
