<!-- Site footer -->
<footer class="site-footer">

    <div class="container">
        <div class="row">
        
            <div class="col-sm-18 col-md-9">
                <h6>About</h6>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt, magna id aliquam semper, ligula purus rutrum quam, eget tincidunt nibh nulla id velit. Sed id ante id odio fermentum tincidunt. Sed velit velit, fermentum vel malesuada eu, suscipit id leo. Nam at eleifend nibh. Ut quis fringilla nulla, ut aliquam augue. Sed varius.
                </p>
            </div>

            <div class="col-sm-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="https://www.linkedin.com/in/chan-christopher-/">LinkedIn</a></li>
                    <li><a href="https://github.com/Christopherc0923/Mini-Projs">Github</a></li>
                    <li><a href="https://www.facebook.com/HelloWrongPage/">Facebook</a></li>
                    <li><a href="https://twitter.com/?lang=en">Twitter</a></li>
                    <li><a href="https://discord.com/">Discord</a></li>
                </ul>
            </div>

        </div>
    </div>

    <hr>

    <div class="container">
        <div class="row">
            <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by Chris</p>
        </div>
    </div>
</footer>