<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>

<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <i class="fab fa-discord"></i>
    <a class="navbar-brand" href="/">Chris Chan</a>

    <!-- Add the following button element for mobile menu -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'base:about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'base:resume' %}">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'base:cert' %}">Certification</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'base:publication' %}"
            >Publication</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'base:contact' %}">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'base:adminPage' %}">Admin</a>
        </li>
        <li class="nav-item">
          <button id="btnSwitch">Toggle</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
